<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/header') %>
    <main>
      <section class="task-view container">
        <ul id="task-list">
          <li class="task-item" data-id="<%= task.id %>">
            <h4>Task: <%= task.title %></h4>
            <p>Description: <%= task.description %></p>
            <p>Contact person: <%= task.contact %></p>
            <p>Completion status: <%= task.status %></p>
            <p>Category: <%= task.category %></p>
          </li>
        </ul>
      </section>
      <!-- Include form partial for detail view to edit current entry(put) -->
    </main>
  </body>
</html>
